@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center bg-light bg-gradient mb: 10px;" >
    <h1 class="display-4">Bienvenidos a mi Portfolio</h1>
    <img style="width: 100px;  heigth: 100 px; border-radius: 50%" src="/Imagenes/miFoto.png"/>
    <p>En el haré un breve resumen de mis conocimientos como programador. </br> <a href="https://github.com/kevinAllendes"> Mi github</a>.</p>
</div>
<hr>
<!-- Esto es un vista parcial con la lista de lenguajes conocidos-->
<partial name="viewPartialLenguajes" />
<div class="text-center p-3">
    <img class="fluid" src="https://www.programaenlinea.net/wp-content/uploads/2020/07/net-core-1.png">
</div>
<hr>
<div  class="w-auto p-3  text-center" style="background-color: rgb(121, 169, 209);  bg-gradient; border-radius: 5%;">
<p class="fw-bold" style="color:aliceblue;">"Aprendí a progamar a mis 15 años y desde ese momento eh estudiado distintos tipos de lenguajes. <br> Durante el secundario desarrolle aplicaciones
    de formulario con Dephi7 y pascal. Ademas de interiorizarme en c++ y c para el manejo de la memoria.<br>
    Gracias a competir en la OIA pude profundizar con el lenguaje de código con c++ y aprender diferentes tipos de algoritmos<br>
    En la Facultad de ingenieria estube desarrollando en Python durante las cursadas de Algorimtos I y II.
    Con lo que aprendí un lenguaje más"
    </p> 
</div>
