<div class="row bg-lighter justify-content-md-center ">
   <div class="col" style="border-radius: 0 0 15px 15px; box-shadow: 0 0 5px 5px gray;">
    <h3>Lenguajes de programacion </h3>
    <div class="col-1">
        <ul class="fw-bold">
            <li>C#</li>
            <li>C++</li>
            <li>Python</li>
        </ul>
    </div>
    <div class="col-2">
        <ul class="fw-bold">
            <li>Pascal</li>
            <li>PHP</li>
            <li>JavaScript</li>
        </ul>
    </div>
   </div>
   <div class="col offset-1" style="border-radius: 0 0 15px 15px; box-shadow: 0 0 5px 5px gray;">
    <h3>Cursos Realizados</h3>
    <ul class="fw-bold">
        <li>ASP.Net Core MVC por Udemy</li>
        <li>HTML5 Youtube/PildorasInformaticas</li>
        <li>Node.js LinkedinLearning</li>
    </ul>
   </div>
</div>